* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Indie Flower', cursive;
    text-align: center;
  }
  h1 {
      font-size: 3rem;
  }
  .message {
      display: flex;
      font-size: 2rem;
      justify-content: space-around;
  }
  .scores {
      font-size: 1.3rem;
  }
  #board-container {
      margin: 0 auto;
      background-color: crimson;
      width: 30em;
      height: 30em;
  }
  .one {
      grid-area: one;
  }
  .two {
      grid-area: two;
  }
  .gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(233, 201, 189);
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: 
        "one | two | three"
        "four | five | six"
        "seven | eight | nine";
  }
  .replay {
      width: 8rem;
      height: 3.3rem;
      font-family: 'Indie Flower', cursive;
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 17px;
  }